@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'Montserrat';
  margin: 0;
  padding:0;
}

.container{
  @apply mx-auto;
}





/* transition numbers in slide to dots */
.slick-dots{
  @apply text-center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:before {
  content: '•';
  font-size: 70px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
}


.scroll-header{
  @apply bg-white shadow-xl transition-shadow	;
}

.show-menu{
  @apply h-72 visible !important;
  transition: 0.3 all ease-in-out;
}